# client_id from a spotify client app created by
# https://developer.spotify.com/dashboard/applications
# it has http://127.0.0.1:43019/redirect set as the redirect URI
SPOTIFY_CLIENT_ID="fc84b0b659d64f568f72d0d6009ad965"
SPOTIFY_CLIENT_SECRET = "b8c6ru804ce947e8a14f74825402sj48"

# optional
# only supply if script is run automatically
# refresh tokens can be generated using ./refresh_token_gen.py 
SPOTIFY_REFRESH_TOKEN = "tvBjaU5bN87iujyoiikyh75tf8h75ujyguhyiZ1tujyKlk"

B2_KEY_ID = '0-wmo4ci-3o0c9p3o4ci'
B2_APP_KEY = '0849v5i340c953c5093c409klj'
B2_BUCKET = 'bucket-name'

HEALTH_CHECK_URL = 'https://hc-ping.com/b953sg97-bee8-49e7-3vcb-c6397f23f81c'
